table {
    width: 1000px;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Times New Roman', Times, serif;
    background-color: lightblue;
  }
  td,
  tr {
    border: 1px solid black;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 3px;
    padding-left: 3px;
    vertical-align: top;
  }
  
  #image {
    width: 30%;
  }
  
  #last {
    width: 60%;
  }
  
  #caption {
    width: 70%;
  }
  
  #cell {
    width: 35%;
  }
  
  #second {
    width: 35%;
  }
  
  body {
    background-color: white;
  }
  ul{
    list-style: none;
    margin: 0;
    padding-left: 300px;
    overflow: hidden;
    background-color: lightblue;
}
li{
    float: left;
    border-left: 1px solid white;
    border-right: 1px solid white;
    color: white;
    font-size: 20px;
}
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover{
    border-bottom: 3px solid rgb(0, 34, 128);
}
  
  